@layer base {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  *:focus-visible {
    outline: none;
    box-shadow: 0 0 0 4px rgba(0, 123, 255, 0.3),
      0 0 0 2px rgba(0, 123, 255, 0.5);
    border-radius: 6px;
    transition: box-shadow 0.2s ease-in-out;
  }

  html {
    font-size: 62.5%;
  }

  body,
  html {
    overflow-x: hidden;
  }

  a:link,
  a:visited {
    text-decoration: none;
    color: inherit;
  }

  body {
    color: var(--clr-secondary-dk);
    font-family: var(--ff-base);
    background-color: var(--clr-body--background);
  }

  fieldset {
    border: none;
  }
}
